@import url(http://fonts.googleapis.com/css?family=Roboto:100);

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* </reset CSS> */

h1 {
    font-weight: lighter;
    font-size: 50px;
    padding: 20px;
    color: hsl(240, 10%, 55%);

}

body {
    font-family: Roboto, sans-serif;
    padding: 20px;
    text-align: center;
    background-color: hsl(130, 10%, 85%);
}

header a {
    text-decoration: none;
    font-size: 30px;
    color: #a8a;
}

#controls {
    position: absolute;
    left: 100%;
    bottom: 0%;
    padding: 7px;
    padding-left: 20px;
    background-color: #eee;
    height: 100%;
    box-sizing: border-box;
}

#controls input {
    margin-top: 5px;
}

#canvas-wrap {
    position: relative;
    display: inline-block;
    background-color: maroon;
}

#canvas {
    border: 2px solid #eee;
    background-color: hsl(60, 10%, 95%);
    margin: auto;
}

#canvas td {
    height: 25px;
    width: 25px;
    border: 1px solid #eee;
}

#canvas:hover {
    cursor: crosshair;
}